/* リスト全体のスタイル */
body {
    background-color: #abd4f1; /* 背景色 */
    color: #333; /* テキスト色 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* フォントファミリー */
    line-height: 1.6; /* 行の高さを調整 */
    margin: 0; /* ページのマージンをリセット */
    padding: 0; /* ページのパディングをリセット */
}

h1 {
    font-size: 36px; /* フォントサイズ */
    font-weight: bold; /* 太字 */
    color: #555; /* ヘッダーのテキスト色 */
    text-align: center; /* テキストを中央揃え */
    margin-top: 40px; /* 上部のマージン */
    margin-bottom: 40px; /* 下部のマージン */
}

label {
    font-size: 20px; /* フォントサイズ */
    color: #777; /* テキスト色 */
    display: block; /* ブロック要素化 */
    text-align: center; /* テキストを中央揃え */
    margin-bottom: 10px; /* 下部のマージン */
}

input[type="text"] {
    padding: 12px; /* 内側の余白 */
    font-size: 18px; /* フォントサイズ */
    border: 1px solid #ccc; /* ボーダー */
    border-radius: 4px; /* 角を丸くする */
    width: 300px; /* 幅 */
    text-align: center; /* テキストを中央揃え */
    margin-bottom: 20px; /* 下部のマージン */
    display: block; /* ブロック要素化 */
    margin: 0 auto; /* 水平方向に中央揃え */
}

button {
    padding: 15px 30px; /* パディング */
    background-color: #4CAF50; /* ボタンの背景色 */
    color: #333; /* ボタンのテキスト色 */
    border: none; /* ボーダーをなしに */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに */
    display: block; /* ブロック要素化 */
    margin: 0 auto; /* 水平方向に中央揃え */
    transition: background-color 0.3s ease; /* 背景色の変化を滑らかに */
    border: 1px solid #ddd; /* リンクのボーダー */
    text-align: center;
}

button:hover {
    background-color: #45a049; /* マウスホバー時の背景色 */
}

#result {
    margin-top: 20px; /* 上部のマージン */
    text-align: center; /* テキストを中央揃え */
}

select {
    padding: 12px; /* 内側の余白 */
    font-size: 18px; /* フォントサイズ */
    border: 1px solid #ccc; /* ボーダー */
    border-radius: 4px; /* 角を丸くする */
    width: 300px; /* 幅 */
    text-align: center; /* テキストを中央揃え */
    margin-bottom: 20px; /* 下部のマージン */
    display: block; /* ブロック要素化 */
    margin: 0 auto; /* 水平方向に中央揃え */

}
